// Here you can add other styles
body {
    @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap");
}
body {
    font-family: "Kanit" !important;
    background-color: #f3f3f3;
}
.bottom-shadow {
    box-shadow: 0 4px 6px -6px #222;
}
.btn {
    margin: 0 0.3em;
}
.btn-primary {
    background-color: #0076fe;
    border-color: #0076fe;
    color: #ffffff;
}
.btn-success {
    background-color: #66bf0a;
    border-color: #66bf0a;
    color: #ffffff;
}
.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #ffffff;
}
.btn-danger {
    background-color: #fe1602;
    border-color: #fe1602;
    color: #ffffff;
}
.color-primary {
    color: #0076fe;
}
.color-success {
    color: #66bf0a;
}
.color-warning {
    color: #ffc107;
}
.color-danger {
    color: #fe1602;
}
.color-chocolate {
    color: #d2691e;
}
.c-header .c-subheader {
    border: none !important;

    .c-header-nav {
        min-height: 60px;
    }
}
.icon-button {
    background: none;
    border: none;
    padding: 0px 4px;
}
.icon-button:hover {
    opacity: 0.5;
}
.nav-tabs .nav-link {
    cursor: pointer;
}
.table th,
.table td {
    padding: 0.5rem;
}
.table-sm td,
.table-sm th {
    padding: 0.3rem;
}
.text-button {
    color: #fe1602;
    cursor: pointer;
    padding: 0.375rem;
    margin: 0.3em;
}
.text-header {
    display: inline;
    margin: 0px;
}
.text-header-semi {
    display: inline;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 0px;
}
.btn-danger-soft {
    background-color: #eb5446;
    border-color: #eb5446;
    color: #ffffff;
}

.timePicker {
    width: 100%;
}
.select-search{
    width: 100%;
}
.antd-invalid{
    border-color: #fe1602;
}
.ant-select-full-width {
    width: 100%;
}